.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid;
  background-color:black; 
}
ul {
		list-style:none;
		background-color:black;
		padding:1%
		1%
		1%
		1%;
		margin:0%
		0%
		0%
		0%;
		overflow:hidden;
}
li {	float:left;
}
li a {
		display: block;
		color:#FFFFFF;
		text-align:center;
		padding: 14px 16px;
		font-size:medium;
}

li a:hover {
		background-color:gray;
}
.footer	{
	float:right;
	color:#FFFFFF;
}
